services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    ports:
      - 8096:8096/tcp
      - 7359:7359/udp
    volumes:
      - ${DOCKERDIR}/jellyfin/config:/config
      - ${DOCKERDIR}/jellyfin/cache:/cache
      - ${DOCKERDIR}/jellyfin/ffmpeg-ratelimit:/usr/lib/ffmpeg-ratelimit
      - ${MEDIA}:${MEDIA}
    devices:
      - /dev/dri:/dev/dri
      - /dev/dri/renderD128:/dev/dri/renderD128
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    restart: 'unless-stopped'
    command: /usr/lib/jellyfin-server/jellyfin --ffmpeg /usr/lib/ffmpeg-ratelimit/ffmpeg.sh